
.box1{
    margin: 0 auto;
    padding: 0 auto;
    
}
.servicio{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: tomato;
}
.servicio h1{
    font-family: serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
.rectangulo{
    height: 575px;
    width: 43%;
    
    justify-content: space-around;
    background-color: rgba(160, 189, 241, 0.685);
    border-radius: 30px;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
.serv_cont{
    margin-left: 5%;
}
.btn_planes{
    color: #fff !important;
    background-color: #33658a !important;
    border-color: #007bffa4 !important;
}

.contenido{
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.fotoref{
    width: 200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.fotoref img{
    border-radius: 50%;
    width: 200px;
    margin-top: 10px;

   
}
  
/*.box2{
    height: 400px;
    width: 840px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    float: left;
    border-radius: 10px;
    background-image: url(../images/perrofondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}*/
/*
.contenido{
    /*border: 1px solid rgb(111, 71, 255);
    background-color: rgba(245, 245, 227, 0.5);
    margin: 0;
    padding: 0;
    width:750px;
    height: 350px;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 5px;
}*/
/*.titulocontenido{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:sandybrown;
    font-style: italic;
   
}
.parrafoprincipal{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.parrafo3{
    width: 500px;
    height: 90px;
    color: rgb(56, 101, 138);
    font-weight: bold;
    font-style: italic;
    margin-left: 130px;
    
    
} */
